@model IEnumerable<PruebaMVC.Models.tbCiudades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ciu_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciu_Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciu_FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciu_FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbUsuaios.usu_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbUsuaios1.usu_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbDepartamentos.dep_descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciu_FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsuaios.usu_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsuaios1.usu_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbDepartamentos.dep_descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ciu_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ciu_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ciu_Id })
        </td>
    </tr>
}

</table>
